########################################################
#Type,Group,Subgroup,F5_IP,F5_Name
########################################################
F5,NP,External_facing_site1,QAJ,10.163.2.13,aws1bsnpjzff01
F5,NP,External_facing_site1,QAJ,10.163.2.14,aws1bsnpjzff02
F5,NP,Internal_facing_site1,QAJ,10.163.2.17,aws1bsnpjzff03
F5,NP,Internal_facing_site1,QAJ,10.163.2.18,aws1bsnpjzff04
F5,PP,External_facing_site1,PJS,10.163.2.34,aws1bsppjzff01
F5,PP,External_facing_site1,PJS,10.163.2.35,aws1bsppjzff02
F5,PP,Internal_facing_site1,PJS,10.167.8.122,aws1bsppjzff03
F5,PP,Internal_facing_site1,PJS,10.167.8.123,aws1bsppjzff04
F5,PP,External_facing_site3,PJS,10.163.135.73,aws1gfppjzff01
F5,PP,External_facing_site3,PJS,10.163.135.74,aws1gfppjzff02
F5,PP,Internal_facing_site3,PJS,10.167.40.122,aws1gfppjzff03
F5,PP,Internal_facing_site3,PJS,10.167.40.123,aws1gfppjzff04
########################################################
#Type,Group,Subgroup,OID,OID_NAME
########################################################
COMPONENT,HTTP Requests,HTTP Requests,1.3.6.1.4.1.3375.2.1.1.2.1.56.0,sysStatHttpRequests
COMPONENT,Memory Used,Host Mem Usage,1.3.6.1.4.1.3375.2.1.7.1.2.0,sysHostMemoryUsed
COMPONENT,Memory Used,TMM Memory Usage,1.3.6.1.4.1.3375.2.1.1.2.1.45.0,sysStatMemoryUsed
COMPONENT,Active Connections,Active Client Connections,1.3.6.1.4.1.3375.2.1.1.2.1.8.0,sysStatClientCurConns
COMPONENT,Active Connections,Active Server Connections,1.3.6.1.4.1.3375.2.1.1.2.1.15.0,sysStatServerCurConns
COMPONENT,Active Connections,Active SSL Client Connections,1.3.6.1.4.1.3375.2.1.1.2.9.2.0,sysClientsslStatCurConns
COMPONENT,Active Connections,Active SSL Server Connections,1.3.6.1.4.1.3375.2.1.1.2.10.2.0,sysServersslStatCurConns
COMPONENT,Throughput,Client Bits In,1.3.6.1.4.1.3375.2.1.1.2.1.3.0,sysStatClientBytesIn
COMPONENT,Throughput,Client Bits Out,1.3.6.1.4.1.3375.2.1.1.2.1.5.0,sysStatClientBytesOut
COMPONENT,Throughput,Server Bits In,1.3.6.1.4.1.3375.2.1.1.2.1.10.0,sysStatServerBytesIn
COMPONENT,Throughput,Server Bits Out,1.3.6.1.4.1.3375.2.1.1.2.1.12.0,sysStatServerBytesOut
COMPONENT,CPU Usage,Global Host CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.20.4.0,sysGlobalHostCpuCount
COMPONENT,CPU Usage,Global Host CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.20.5.0,sysGlobalHostActiveCpu
COMPONENT,CPU Usage,Global Host CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.20.6.0,sysGlobalHostCpuUser
COMPONENT,CPU Usage,Global Host CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.20.7.0,sysGlobalHostCpuNice
COMPONENT,CPU Usage,Global Host CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.20.8.0,sysGlobalHostCpuSystem
COMPONENT,CPU Usage,Global Host CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.20.9.0,sysGlobalHostCpuIdle
COMPONENT,CPU Usage,Global Host CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.20.10.0,sysGlobalHostCpuIrq
COMPONENT,CPU Usage,Global Host CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.20.11.0,sysGlobalHostCpuSoftirq
COMPONENT,CPU Usage,Global Host CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.20.12.0,sysGlobalHostCpuIowait
COMPONENT,CPU Usage,TMM CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.1.41.0,sysStatTmTotalCycles
COMPONENT,CPU Usage,TMM CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.1.42.0,sysStatTmIdleCycles
COMPONENT,CPU Usage,TMM CPU Usage,1.3.6.1.4.1.3375.2.1.1.2.1.43.0,sysStatTmSleepCycles
COMPONENT,RAM Cache Utilization,Hit Rate,1.3.6.1.4.1.3375.2.1.1.2.4.46.0,sysHttpStatRamcacheHits
COMPONENT,RAM Cache Utilization,Hit Rate,1.3.6.1.4.1.3375.2.1.1.2.4.47.0,sysHttpStatRamcacheMisses
COMPONENT,RAM Cache Utilization,Byte Rate,1.3.6.1.4.1.3375.2.1.1.2.4.49.0,sysHttpStatRamcacheHitBytes
COMPONENT,RAM Cache Utilization,Byte Rate,1.3.6.1.4.1.3375.2.1.1.2.4.50.0,sysHttpStatRamcacheMissBytes
COMPONENT,RAM Cache Utilization,Eviction Rate,1.3.6.1.4.1.3375.2.1.1.2.4.54.0,sysHttpStatRamcacheEvictions
COMPONENT,New Connections,Client Accepts,1.3.6.1.4.1.3375.2.1.1.2.12.6.0 ,sysTcpStatAccepts
COMPONENT,New Connections,Server Connects,1.3.6.1.4.1.3375.2.1.1.2.1.14.0,sysStatServerTotConns
COMPONENT,Total New Connections,Client Connects,1.3.6.1.4.1.3375.2.1.1.2.1.7.0,sysStatClientTotConns
COMPONENT,Total New Connections,pva client,1.3.6.1.4.1.3375.2.1.1.2.1.21.0,sysStatPvaClientTotConns
COMPONENT,Total New Connections,pva server,1.3.6.1.4.1.3375.2.1.1.2.1.28.0 ,sysStatPvaServerTotConns
COMPONENT,New Client SSL Profile Connections,SSL Client,1.3.6.1.4.1.3375.2.1.1.2.9.6.0,sysClientsslStatTotNativeConns
COMPONENT,New Client SSL Profile Connections,SSL Client,1.3.6.1.4.1.3375.2.1.1.2.9.9.0,sysClientsslStatTotCompatConns
COMPONENT,New Client SSL Profile Connections,SSL Server,1.3.6.1.4.1.3375.2.1.1.2.10.6.0,sysServersslStatTotNativeConns
COMPONENT,New Client SSL Profile Connections,SSL Server,1.3.6.1.4.1.3375.2.1.1.2.10.9.0,sysServersslStatTotCompatConns
COMPONENT,New Accepts-Connects,Server Connects,1.3.6.1.4.1.3375.2.1.1.2.12.8.0,sysTcpStatConnects
########################################################
# Calculation is done using simple Shell Script expr.
# Hence escape key is required for *,/,+, -
# Test your formula before putting it here
########################################################
# Type,Group,Function_Metric,Formula,Tag
########################################################
FUNCTION,New Connections,Client Accepts,(($sysTcpStatAccepts2-$sysTcpStatAccepts1)/$interval),Client_Accepts
FUNCTION,New Connections,Server Connects,(($sysStatServerTotConns2-$sysStatServerTotConns1)/$interval),Server_Connects
FUNCTION,Total New Connections,Client Connects,(($sysStatClientTotConns2-$sysStatClientTotConns1)/$interval),Client_Connects
FUNCTION,New PVA Connections,pva client,(($sysStatPvaClientTotConns2-$sysStatPvaClientTotConns1)/$interval),pva_client
FUNCTION,New PVA Connections,pva server,(($sysStatPvaServerTotConns2-$sysStatPvaServerTotConns1)/$interval),pva_server
FUNCTION,New SSL Connections,SSL Client,((($sysClientsslStatTotNativeConns2-$sysClientsslStatTotNativeConns1+$sysClientsslStatTotCompatConns2-$sysClientsslStatTotCompatConns1))/$interval),SSL_Client
FUNCTION,New SSL Connections,SSL Server,((($sysServersslStatTotNativeConns2-$sysServersslStatTotNativeConns1+$sysServersslStatTotCompatConns2-$sysServersslStatTotCompatConns1))/$interval),SSL_Server
FUNCTION,New Accepts Connects,Server TcpConnects,(($sysTcpStatConnects2-$sysTcpStatConnects1)/$interval),Server_TcpConnects
FUNCTION,Throughput,Client Bits In,((($sysStatClientBytesIn2-$sysStatClientBytesIn1)*8)/$interval),Client_Bits_In
FUNCTION,Throughput,Client Bits Out,((($sysStatClientBytesOut2-$sysStatClientBytesOut1)*8)/$interval),Client_Bits_Out
FUNCTION,Throughput,Server Bits In,((($sysStatServerBytesIn2-$sysStatServerBytesIn1)*8)/$interval),Server_Bits_In
FUNCTION,Throughput,Server Bits Out,((($sysStatServerBytesOut2-$sysStatServerBytesOut1)*8)/$interval),Server_Bits_Out
FUNCTION,HTTP Requests,HTTP Requests,(($sysStatHttpRequests2-$sysStatHttpRequests1)/$interval),HTTP_Requests
FUNCTION,RAM Cache Utilization,Hit Rate,($sysHttpStatRamcacheHits1/($sysHttpStatRamcacheHits1+$sysHttpStatRamcacheMisses1)*100),Hit_Rate
FUNCTION,RAM Cache Utilization,Byte Rate,($sysHttpStatRamcacheHitBytes1/($sysHttpStatRamcacheHitBytes1+$sysHttpStatRamcacheMissBytes1)*100),Byte_Rate
FUNCTION,RAM Cache Utilization,Eviction Rate,($sysHttpStatRamcacheEvictions1/($sysHttpStatRamcacheHits1+$sysHttpStatRamcacheMisses1)*100),Eviction_Rate
FUNCTION,CPU Usage,Global Host CPU Usage,Global_Host_CPU_Usage,(($sysGlobalHostCpuUser2-$$sysGlobalHostCpuUser1+$sysGlobalHostCpuNice2-$sysGlobalHostCpuNice1+$sysGlobalHostCpuSystem2-$sysGlobalHostCpuSystem1)/($sysGlobalHostCpuUser2-$$sysGlobalHostCpuUser1+$sysGlobalHostCpuNice2-$sysGlobalHostCpuNice1+$CpuIdle+$sysGlobalHostCpuSystem2-$sysGlobalHostCpuSystem1+$sysGlobalHostCpuIrq2-$sysGlobalHostCpuIrq1+$sysGlobalHostCpuSoftirq2-$sysGlobalHostCpuSoftirq1+$sysGlobalHostCpuIowait2-$sysGlobalHostCpuIowait1)*100)
,Global_Host_CPU_Usage
FUNCTION,CPU Usage,TMM CPU Usage,(((($sysStatTmTotalCycles2-$sysStatTmTotalCycles1)-($sysStatTmIdleCycles2-$sysStatTmIdleCycles1+$sysStatTmSleepCycles2-$sysStatTmSleepCycles1))/($sysStatTmTotalCycles2-$sysStatTmTotalCycles1))*100),TMM_CPU_Usage
FUNCTION,SSL TPS,SSL TPS,(($sysClientsslStatTotCompatConns2-$sysClientsslStatTotCompatConns1+$sysClientsslStatTotNativeConns2-$sysClientsslStatTotNativeConns1)/$interval),SSL_TPS
